<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--recursos para los iconos-->
    <link href="fontawesome-free-5.14.0-web/css/fontawesome.css" rel="stylesheet">
    <link href="fontawesome-free-5.14.0-web/css/brands.css" rel="stylesheet">
    <link href="fontawesome-free-5.14.0-web/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilos.css">
    <!--otros iconos-->
    <link href="icofont/icofont.min.css" rel="stylesheet">
    <!--Archivo CSS-->
    <link href="css/nav.css" rel="stylesheet">
    <link href="css/estilo.css" rel="stylesheet">
    <style type="text/css">@font-face{font-family: Alesandra; src: url(Alesandra.ttf);}</style>
    <title>{{title}}</title>
</head>
<body>
    <!-- Navbar -->
    <header id="header" class="fixed-top header-transparent">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-11 d-flex align-items-center">
            <a href="/" class="mr-auto"><img src="img/nav-tinyy.png" style="float:left; margin-left:-40px;"></a>
            <nav class="nav-menu d-none d-lg-block">
              <ul>
                <li class="active"><a href="/">inicio</a></li>
                <li><a href="/eventos">Eventos</a></li>
                <li class="drop-down"><a href="/articulos">Articulos</a>
                  <ul>
                    <li><a href="/camisas">Camisas</a></li>
                    <li><a href="/termos">Termos</a></li>
                    <li><a href="/invitaciones">Invitaciones</a></li>
                    <li><a href="/globos">Globos</a></li>
                  </ul>
                </li>
                {{#if logueado}}
                <li class="drop-down"><a href="">{{ name }}</a>
                  <ul>
                    <li><a href="/cerrar">Cerrar sesion</a></li>
                  </ul>
                </li>

                {{else}}
                <button type="button" class="btn btn-outline-info my-2 my-sm-0 letras" data-toggle="modal" data-target="#ModalCenter" style="margin-left: 5px;">Iniciar Sesión</button>
                {{/if}}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" name="inicio" action="/login">

                            <div class="modal-body">
                                <img class="img" src="imagenes/avatarx2.png" alt="">
                                <h2 class="letras">Iniciar sesion</h2>
                                <div class="form-group row">
                                    <input class="form-control form-control-lg formularios" name="correo" type="email" placeholder="Correo">
                                </div>
                                <div class="form-group row">
                                    <input class="form-control form-control-lg formularios" name="pass" type="password" placeholder="Contraseña">
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info my-2 btn-block boton" style="font-family: Alesandra;">Continuar</button>
                                <a href="/crear-cuenta" style="margin-right: 150px;">Aun no tengo una cuenta</a>
                            </div>
                        </form>
                        {{#if message }}
                            <h4 class="alert alert-danger mt-3" style="text-align: center;">{{message}}</h4>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

    <div><img src="IMGProyecto/CAMISAS_INICIAL.jpeg" alt="Inicio"></div>
    <div class="card-group">
        <div class="card">
          <img src="IMGProyecto/camisas1.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Bob Esponja</h5>
            <p class="card-text">Luce en pareja nuestro nuevo diseño con temática de tu personaje favorito.
              Personaliza tu pedido con nosotros.
            </p>
            <strong>Juvenil - Infantil</strong>

            {{#if logueado}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" id="comprar">Comprar</a>
            <p>
              <a class="btn btn-outline-danger" id="comprar" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                Personalizar
              </a>
            </p>
            <div class="collapse" id="collapseExample2">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Talla</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">CH</option>
                    <option value="2">M</option>
                    <option value="3">G</option>
                    <option value="3">XL</option>
                    <option value="3">XXL</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample2">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Genero</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Dama</option>
                    <option value="2">Caballero</option>
                    <option value="3">Ambos</option>
                  </select>
                </div>
              </div>
            </div>
            {{else}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
        </div>
        </div>
        <div class="card" id="medio">
          <img src="IMGProyecto/camisas3.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Queen and King</h5>
            <p class="card-text">¡Con nuestro diseño puedes compartir tu outfit favorito con tu pareja! Vamos, no esperes más.</p>
            <strong>Juvenil</strong>
            {{#if logueado}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" id="comprar">Comprar</a>
            <p>
              <a class="btn btn-outline-danger" id="comprar" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Personalizar
              </a>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Talla</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">CH</option>
                    <option value="2">M</option>
                    <option value="3">G</option>
                    <option value="3">XL</option>
                    <option value="3">XXL</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Color</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Transparente</option>
                    <option value="2">Negro</option>
                    <option value="3">Naranja</option>
                    <option value="4">Rosa</option>
                    <option value="5">Azul</option>
                    <option value="6">Morado</option>
                    <option value="7">Verde</option>
                    <option value="8">Amarillo</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Genero</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Dama</option>
                    <option value="2">Caballero</option>
                    <option value="3">Ambos</option>
                  </select>
                </div>
              </div>
            </div>
            {{else}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
        <div class="card">
          <img src="IMGProyecto/camisas4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Goku</h5>
            <p class="card-text">Ahora te presentamos nuestro nuevo diseño de tu personaje favorito de Dragon Ball Z. </p>
            <strong>Juvenil - Infantil</strong>
            {{#if logueado}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" id="comprar">Comprar</a>
            <p>
              <a class="btn btn-outline-danger" id="comprar" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                Personalizar
              </a>
            </p>
            <div class="collapse" id="collapseExample3">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Talla</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">CH</option>
                    <option value="2">M</option>
                    <option value="3">G</option>
                    <option value="3">XL</option>
                    <option value="3">XXL</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample3">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Color</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Transparente</option>
                    <option value="2">Negro</option>
                    <option value="3">Naranja</option>
                    <option value="4">Rosa</option>
                    <option value="5">Azul</option>
                    <option value="6">Morado</option>
                    <option value="7">Verde</option>
                    <option value="8">Amarillo</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample3">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Genero</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Dama</option>
                    <option value="2">Caballero</option>
                    <option value="3">Ambos</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample3">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
              </div>
            </div>
            {{else}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card">
          <img src="IMGProyecto/camisas2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mouse</h5>
            <p class="card-text">También contamos con hermosos diseños para lucirlos en familia, puedes personalizarlo a tu gusto.</p>
            <strong>Familiar</strong>
            {{#if logueado}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" id="comprar">Comprar</a>
            <p>
              <a class="btn btn-outline-danger" id="comprar" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
                Personalizar
              </a>
            </p>
            <div class="collapse" id="collapseExample4">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Talla Dama</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">CH </option>
                    <option value="2">M</option>
                    <option value="3">G</option>
                    <option value="3">XL </option>
                    <option value="3">XXL</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample4">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Talla Caballero</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">CH </option>
                    <option value="2">M</option>
                    <option value="3">G</option>
                    <option value="3">XL </option>
                    <option value="3">XXL</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample4">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Talla Bebés</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">CH </option>
                    <option value="2">M</option>
                    <option value="3">G</option>
                    <option value="3">XL </option>
                    <option value="3">XXL</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample4">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Talla Niños</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">CH </option>
                    <option value="2">M</option>
                    <option value="3">G</option>
                    <option value="3">XL </option>
                    <option value="3">XXL</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample4">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Color</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Transparente</option>
                    <option value="2">Negro</option>
                    <option value="3">Naranja</option>
                    <option value="4">Rosa</option>
                    <option value="5">Azul</option>
                    <option value="6">Morado</option>
                    <option value="7">Verde</option>
                    <option value="8">Amarillo</option>
                  </select>
                </div>
              </div>
            </div>
            {{else}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
        <div class="card" id="medio">
          <img src="IMGProyecto/camisas5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">The Simpsons</h5>
            <p class="card-text">La familia amarilla más querida no podía faltar en nuestros diseños.
              Diseño para commpartir con la familia.
            </p>
            <strong>Familiar</strong>
            {{#if logueado}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" id="comprar">Comprar</a>
            <p>
              <a class="btn btn-outline-danger" id="comprar" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
                Personalizar
              </a>
            </p>
            <div class="collapse" id="collapseExample5">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Talla Dama</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">CH </option>
                    <option value="2">M</option>
                    <option value="3">G</option>
                    <option value="3">XL </option>
                    <option value="3">XXL</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample5">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Talla Caballero</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">CH </option>
                    <option value="2">M</option>
                    <option value="3">G</option>
                    <option value="3">XL </option>
                    <option value="3">XXL</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample5">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Color</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Transparente</option>
                    <option value="2">Negro</option>
                    <option value="3">Naranja</option>
                    <option value="4">Rosa</option>
                    <option value="5">Azul</option>
                    <option value="6">Morado</option>
                    <option value="7">Verde</option>
                    <option value="8">Amarillo</option>
                  </select>
                </div>
              </div>
            </div>
            {{else}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
        <div class="card">
          <img src="IMGProyecto/camisas6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Música</h5>
            <p class="card-text">Contamos con diseños para los jovenes. En la actualidad la música los mueve, no te quedes sin la tuya.</p>
            <strong>Juvenil</strong>
            {{#if logueado}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" id="comprar">Comprar</a>
            <p>
              <a class="btn btn-outline-danger" id="comprar" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6">
                Personalizar
              </a>
            </p>
            <div class="collapse" id="collapseExample6">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Talla</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">CH</option>
                    <option value="2">M</option>
                    <option value="3">G</option>
                    <option value="3">XL</option>
                    <option value="3">XXL</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample6">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Color</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Transparente</option>
                    <option value="2">Negro</option>
                    <option value="3">Naranja</option>
                    <option value="4">Rosa</option>
                    <option value="5">Azul</option>
                    <option value="6">Morado</option>
                    <option value="7">Verde</option>
                    <option value="8">Amarillo</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample6">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Genero</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Dama</option>
                    <option value="2">Caballero</option>
                    <option value="3">Ambos</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample6">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
              </div>
            </div>
            {{else}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card">
          <img src="IMGProyecto/camisas7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dragon Ball Z - Goku</h5>
            <p class="card-text">¿Porque quedarte sin nuestro nuevo diseño? Ven y personaliza tu camisa favorita.</p>
            <strong>Juvenil - Infantil</strong>
            {{#if logueado}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" id="comprar">Comprar</a>
            <p>
              <a class="btn btn-outline-danger" id="comprar" data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample7">
                Personalizar
              </a>
            </p>
            <div class="collapse" id="collapseExample7">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Talla</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">CH</option>
                    <option value="2">M</option>
                    <option value="3">G</option>
                    <option value="3">XL</option>
                    <option value="3">XXL</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample7">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Genero</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Dama</option>
                    <option value="2">Caballero</option>
                    <option value="3">Ambos</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample7">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
              </div>
            </div>
            {{else}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
        <div class="card" id="medio">
          <img src="IMGProyecto/camisas8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dragon Ball Z - Gohan</h5>
            <p class="card-text">Contamos con diseños para tus pequeños y los jovenes.</p>
            <strong>Juvenil - Infantil</strong>
            {{#if logueado}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" id="comprar">Comprar</a>
            <p>
              <a class="btn btn-outline-danger" id="comprar" data-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample8">
                Personalizar
              </a>
            </p>
            <div class="collapse" id="collapseExample8">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Talla</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">CH</option>
                    <option value="2">M</option>
                    <option value="3">G</option>
                    <option value="3">XL</option>
                    <option value="3">XXL</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample8">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Genero</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Dama</option>
                    <option value="2">Caballero</option>
                    <option value="3">Ambos</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample8">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Color</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Transparente</option>
                    <option value="2">Negro</option>
                    <option value="3">Naranja</option>
                    <option value="4">Rosa</option>
                    <option value="5">Azul</option>
                    <option value="6">Morado</option>
                    <option value="7">Verde</option>
                    <option value="8">Amarillo</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample8">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
              </div>
            </div>
            {{else}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
        <div class="card">
          <img src="IMGProyecto/camisas9.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dragon Ball Z - Vegeta & Goku</h5>
            <p class="card-text">¿Te quedarás sin la tuya?</p>
            <strong>Juvenil - Infantil</strong>
            {{#if logueado}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" id="comprar">Comprar</a>
            <p>
              <a class="btn btn-outline-danger" id="comprar" data-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false" aria-controls="collapseExample9">
                Personalizar
              </a>
            </p>
            <div class="collapse" id="collapseExample9">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Talla</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">CH</option>
                    <option value="2">M</option>
                    <option value="3">G</option>
                    <option value="3">XL</option>
                    <option value="3">XXL</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample9">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Genero</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Dama</option>
                    <option value="2">Caballero</option>
                    <option value="3">Ambos</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseExample9">
              <div class="card card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
              </div>
            </div>
            {{else}}
            <a href="/personalizaarticulos" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
      </div><br>
      <!--Archivos .js-->
      <script src="jquery/jquery.min.js"></script>
      <script src="js/main.js"></script>
</body>
<footer class="page-footer font-small stylish-color-dark pt-4" id="foot">
<div class="container text-center text-md-left">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contacto</h5>
      <p>Calle Leopoldo Guerra Ote. #8818<br> Col. La Joya<br> Torreón, Coah., México.</p>
      <p><i class="fas fa-envelope-open"></i>   tinydesigns07@gmail.com</p>
      <p><i class="fab fa-whatsapp-square"></i>(871)596-1588</p>
      <p><i class="fab fa-facebook-square"></i>   facebook.com/tinydesignsS</p>
    </div>
    <hr class="clearfix w-100 d-md-none">
    <div class="col-md-5 mx-auto">
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Servicios</h5>
      <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Diseño para eventos sociales</h6>
      <ul class="list-unstyled">
        <li>
          <a href="/graduaciones">Graduaciones</a>
        </li>
        <li>
          <a href="/infantiles">Fiestas infantiles</a>
        </li>
        <li>
          <a href="bodas">Bodas</a>
        </li>
        <li>
          <a href="/xv">Fiestas de XV</a>
        </li>
      </ul>
      <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Venta de articulos</h6>
      <ul class="list-unstyled">
        <li>
          <a href="/invitaciones">Invitaciones</a>
        </li>
        <li>
          <a href="/globos">Globos</a>
        </li>
        <li>
          <a href="/termos">Termos</a>
        </li>
        <li>
          <a href="/camisas">Camisas</a>
        </li>
      </ul>
    </div>
    <hr class="clearfix w-100 d-md-none">
    <div class="col-md-2 mx-auto">
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Acerca de nosotros</h5>
      <ul class="list-unstyled">
        <li>
          <a href="/">¿Quiénes somos?</a>
        </li>
        <li>
          Aviso de privacidad
        </li>
      </ul>
    </div>
  </div>
</div>
{{#if logueado}}
<hr>
{{else}}
<hr>
<ul class="list-unstyled list-inline text-center py-2">
  <li class="list-inline-item">
    <a href="/crear-cuenta" class="btn btn-primary btn-rounded ejemplo2">Registrarse</a>
  </li>
  <li class="list-inline-item ">
    <a href="" class="btn btn-danger btn-rounded ejemplo3" data-toggle="modal" data-target="#ModalCenter">Iniciar Sesion</a>
  </li>
</ul>
<hr>
{{/if}}
<ul class="list-unstyled list-inline text-center">
  <li class="list-inline-item">
    <a class="btn-floating btn-fb mx-1" href="#">
      <i class="fab fa-facebook-f fa-3x"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="btn-floating btn-tw mx-1">
      <i class="fab fa-twitter fa-3x"> </i>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="btn-floating btn-li mx-1">
      <i class="fab fa-linkedin-in fa-3x"> </i>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="btn-floating btn-dribbble mx-1">
      <i class="fab fa-instagram-square fa-3x"></i>
    </a>
  </li>
</ul>
<div class="footer-copyright text-center py-3">© 2020 Copyright:
  <a href="#"> by SupporT</a>
</div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
</body>
</html>
