<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--recursos para los iconos-->
      <link href="fontawesome-free-5.14.0-web/css/fontawesome.css" rel="stylesheet">
      <link href="fontawesome-free-5.14.0-web/css/brands.css" rel="stylesheet">
      <link href="fontawesome-free-5.14.0-web/css/solid.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <!--bootstrap-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
      <link rel="stylesheet" href="css/estilos.css">
      <!--otros iconos-->
      <link href="icofont/icofont.min.css" rel="stylesheet">
      <!--Archivo CSS-->
      <link href="css/nav.css" rel="stylesheet">
      <link href="css/estilo.css" rel="stylesheet">
      <style type="text/css">@font-face{font-family: Alesandra; src: url(Alesandra.ttf);}</style>
      <title>{{title}}</title>
  </head>
  <body>
      <!-- Navbar -->
      <header id="header" class="fixed-top header-transparent">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-xl-11 d-flex align-items-center">
              <a href="/" class="mr-auto"><img src="img/nav-tinyy.png" style="float:left; margin-left:-40px;"></a>
              <nav class="nav-menu d-none d-lg-block">
                <ul>
                  <li class="active"><a href="/">inicio</a></li>
                  <li><a href="/eventos">Eventos</a></li>
                  <li class="drop-down"><a href="/articulos">Articulos</a>
                    <ul>
                      <li><a href="/camisas">Camisas</a></li>
                      <li><a href="/termos">Termos</a></li>
                      <li><a href="/invitaciones">Invitaciones</a></li>
                      <li><a href="/globos">Globos</a></li>
                    </ul>
                  </li>
                  {{#if logueado}}
                  <li class="drop-down"><a href="">{{ name }}</a>
                    <ul>
                      <li><a href="/cerrar">Cerrar sesion</a></li>
                    </ul>
                  </li>

                  {{else}}
                  <button type="button" class="btn btn-outline-info my-2 my-sm-0 letras" data-toggle="modal" data-target="#ModalCenter" style="margin-left: 5px;">Iniciar Sesión</button>
                  {{/if}}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header><br><br><br><br><br>
      <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" name="inicio" action="/login">

                        <div class="modal-body">
                            <img class="img" src="imagenes/avatarx2.png" alt="">
                            <h2 class="letras">Iniciar sesion</h2>
                            <div class="form-group row">
                                <input class="form-control form-control-lg formularios" name="correo" type="email" placeholder="Correo">
                            </div>
                            <div class="form-group row">
                                <input class="form-control form-control-lg formularios" name="pass" type="password" placeholder="Contraseña">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info my-2 btn-block boton" style="font-family: Alesandra;">Continuar</button>
                            <a href="/crear-cuenta" style="margin-right: 150px;">Aun no tengo una cuenta</a>
                        </div>
                    </form>
                    {{#if message }}
                        <h4 class="alert alert-danger mt-3" style="text-align: center;">{{message}}</h4>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div><img src="IMGProyecto/INVITACIONES_INICIAL.jpeg" alt="Inicio"></div>
    <div class="card-group">
        <div class="card">
          <img src="IMGProyecto/invitaciones_infantil.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Infantil - Unicornio</h5>
            <p class="card-text">¡Inspiración para todos los Eventos de tu Vida!</p>

            {{#if logueado}}
            <button type="button" class="btn btn-outline-danger" id="especific" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Especificaciones</button>
<!--Modal1-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Especificaciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/pedinvita" name="Invita1">
          <div class="form-group">
          <input type="hidden" value="Infantil - Unicornio" name="Invita1">
            <label for="recipient-name" class="col-form-label">Nombre(s)1:</label>
            <input type="text" class="form-control" id="recipient-name" name="Nombre">
          </div>
          <div class="form-group">
            <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
              <select class="custom-select" id="inputGroupSelect01" name="Unidades">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Detalles:</label>
            <textarea class="form-control" id="message-text" name="Detall"></textarea>
          </div>
          <button type="submit" class="btn btn-danger btn-lg btn-block" style="align">Registrar Compra</button>
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>

            {{else}}
            <a href="#" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
        </div>
        </div>
        <div class="card" id="medio">
          <img src="IMGProyecto/invitaciones_infantil02.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Infantil - Sirena</h5>
            <p class="card-text">¡Inspiración para todos los Eventos de tu Vida!</p>

            {{#if logueado}}
            <button type="button" class="btn btn-outline-danger" id="especific" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">Especificaciones</button>
<!--Modal2-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Especificaciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/pedinvita" name="Invita1">
          <div class="form-group">
          <input type="hidden" value="Infantil - Sirena" name="Invita1">
            <label for="recipient-name" class="col-form-label">Nombre(s)2:</label>
            <input type="text" class="form-control" id="recipient-name" name="Nombre">
          </div>
          <div class="form-group">
            <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
              <select class="custom-select" id="inputGroupSelect01" name="Unidades">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Detalles:</label>
            <textarea class="form-control" id="message-text" name="Detall"></textarea>
          </div>
          <button type="submit" class="btn btn-danger btn-lg btn-block" style="align">Registrar Compra</button>
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
            {{else}}
            <a href="#" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
        <div class="card">
          <img src="IMGProyecto/invitaciones_infantil03.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mouse</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>

            {{#if logueado}}
            <button type="button" class="btn btn-outline-danger" id="especific" data-toggle="modal" data-target="#exampleModal3" data-whatever="@mdo">Especificaciones</button>
<!--Modal3-->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Especificaciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/pedinvita" name="Invita1">
          <div class="form-group">
          <input type="hidden" value="Mouse" name="Invita1">
            <label for="recipient-name" class="col-form-label">Nombre(s)3:</label>
            <input type="text" class="form-control" id="recipient-name" name="Nombre">
          </div>
          <div class="form-group">
            <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
              <select class="custom-select" id="inputGroupSelect01" name="Unidades">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Detalles:</label>
            <textarea class="form-control" id="message-text" name="Detall"></textarea>
          </div>
          <button type="submit" class="btn btn-danger btn-lg btn-block" style="align">Registrar Compra</button>
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
            {{else}}
            <a href="#" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card">
          <img src="IMGProyecto/invitaciones_graduated.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Graduation - Formal</h5>
            <p class="card-text">¡Inspiración para todos los Eventos de tu Vida!</p>

            {{#if logueado}}
            <button type="button" class="btn btn-outline-danger" id="especific" data-toggle="modal" data-target="#exampleModal4" data-whatever="@mdo">Especificaciones</button>
<!--Modal4-->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Especificaciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/pedinvita" name="Invita1">
          <div class="form-group">
          <input type="hidden" value="Graduation - Formal" name="Invita1">
            <label for="recipient-name" class="col-form-label">Nombre(s)4:</label>
            <input type="text" class="form-control" id="recipient-name" name="Nombre">
          </div>
          <div class="form-group">
            <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
              <select class="custom-select" id="inputGroupSelect01" name="Unidades">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Detalles:</label>
            <textarea class="form-control" id="message-text" name="Detall"></textarea>
          </div>
          <button type="submit" class="btn btn-danger btn-lg btn-block" style="align">Registrar Compra</button>
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
            {{else}}
            <a href="#" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
        <div class="card" id="medio">
          <img src="IMGProyecto/invitaciones_graduated2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Graduation - Ceremony</h5>
            <p class="card-text">¡Inspiración para todos los Eventos de tu Vida!</p>

            {{#if logueado}}
            <button type="button" class="btn btn-outline-danger" id="especific" data-toggle="modal" data-target="#exampleModal5" data-whatever="@mdo">Especificaciones</button>
<!--Modal5-->
<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Especificaciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/pedinvita" name="Invita1">
          <div class="form-group">
            <input type="hidden" value="Graduation - Ceremony" name="Invita1">
            <label for="recipient-name" class="col-form-label">Nombre(s)5:</label>
            <input type="text" class="form-control" id="recipient-name" name="Nombre">
          </div>
          <div class="form-group">
            <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
              <select class="custom-select" id="inputGroupSelect01" name="Unidades">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Detalles:</label>
            <textarea class="form-control" id="message-text" name="Detall"></textarea>
          </div>
          <button type="submit" class="btn btn-danger btn-lg btn-block" style="align">Registrar Compra</button>
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
            {{else}}
            <a href="#" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
        <div class="card">
          <img src="IMGProyecto/invitaciones_graduated3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Graduation Package</h5>
            <p class="card-text">¡Inspiración para todos los Eventos de tu Vida!</p>

            {{#if logueado}}
            <button type="button" class="btn btn-outline-danger" id="especific" data-toggle="modal" data-target="#exampleModal6" data-whatever="@mdo">Especificaciones</button>
<!--Modal6-->
<div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Especificaciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/pedinvita" name="Invita1">
          <div class="form-group">
            <input type="hidden" value="Graduation Package" name="Invita1">
            <label for="recipient-name" class="col-form-label">Nombre(s)6:</label>
            <input type="text" class="form-control" id="recipient-name" name="Nombre">
          </div>
          <div class="form-group">
            <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
              <select class="custom-select" id="inputGroupSelect01" name="Unidades">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Detalles:</label>
            <textarea class="form-control" id="message-text" name="Detall"></textarea>
          </div>
          <button type="submit" class="btn btn-danger btn-lg btn-block" style="align">Registrar Compra</button>
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
            {{else}}
            <a href="#" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card">
          <img src="IMGProyecto/invitaciones_XV.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">XV</h5>
            <p class="card-text">¡Inspiración para todos los Eventos de tu Vida!</p>

            {{#if logueado}}
            <button type="button" class="btn btn-outline-danger" id="especific" data-toggle="modal" data-target="#exampleModal7" data-whatever="@mdo">Especificaciones</button>
<!--Modal7-->
<div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Especificaciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/pedinvita" name="Invita1">
          <div class="form-group">
            <input type="hidden" value="XV" name="Invita1">
            <label for="recipient-name" class="col-form-label">Nombre(s)7:</label>
            <input type="text" class="form-control" id="recipient-name" name="Nombre">
          </div>
          <div class="form-group">
            <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
              <select class="custom-select" id="inputGroupSelect01" name="Unidades">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Detalles:</label>
            <textarea class="form-control" id="message-text" name="Detall"></textarea>
          </div>
          <button type="submit" class="btn btn-danger btn-lg btn-block" style="align">Registrar Compra</button>
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
            {{else}}
            <a href="#" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
        <div class="card" id="medio">
          <img src="IMGProyecto/invitaciones_XV2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Passport - París</h5>
            <p class="card-text">¡Inspiración para todos los Eventos de tu Vida!</p>

            {{#if logueado}}
            <button type="button" class="btn btn-outline-danger" id="especific" data-toggle="modal" data-target="#exampleModal8" data-whatever="@mdo">Especificaciones</button>
<!--Modal8-->
<div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Especificaciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/pedinvita" name="Invita1">
          <div class="form-group">
            <input type="hidden" value="Passport - París" name="Invita1">
            <label for="recipient-name" class="col-form-label">Nombre(s)8:</label>
            <input type="text" class="form-control" id="recipient-name" name="Nombre">
          </div>
          <div class="form-group">
            <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
              <select class="custom-select" id="inputGroupSelect01" name="Unidades">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Detalles:</label>
            <textarea class="form-control" id="message-text" name="Detall"></textarea>
          </div>
          <button type="submit" class="btn btn-danger btn-lg btn-block" style="align">Registrar Compra</button>
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
            {{else}}
            <a href="#" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
        <div class="card">
          <img src="IMGProyecto/invitaciones_XV3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Party</h5>
            <p class="card-text">¡Inspiración para todos los Eventos de tu Vida!</p>

            {{#if logueado}}
            <button type="button" class="btn btn-outline-danger" id="especific" data-toggle="modal" data-target="#exampleModal9" data-whatever="@mdo">Especificaciones</button>
<!--Modal9-->
<div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Especificaciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/pedinvita" name="Invita1">
          <div class="form-group">
          <input type="hidden" value="Party" name="Invita1">
            <label for="recipient-name" class="col-form-label">Nombre(s)9:</label>
            <input type="text" class="form-control" id="recipient-name" name="Nombre">
          </div>
          <div class="form-group">
            <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
              <select class="custom-select" id="inputGroupSelect01" name="Unidades">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Detalles:</label>
            <textarea class="form-control" id="message-text" name="Detall"></textarea>
          </div>
          <button type="submit" class="btn btn-danger btn-lg btn-block" style="align">Registrar Compra</button>
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
            {{else}}
            <a href="#" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card">
          <img src="IMGProyecto/invitaciones_bodas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Wedding</h5>
            <p class="card-text">¡Inspiración para todos los Eventos de tu Vida!</p>
            {{#if logueado}}
            <button type="button" class="btn btn-outline-danger" id="especific" data-toggle="modal" data-target="#exampleModal10" data-whatever="@mdo">Especificaciones</button>
<!--Modal10-->
<div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Especificaciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/pedinvita" name="Invita1">
          <div class="form-group">
          <input type="hidden" value="Wedding" name="Invita1">
            <label for="recipient-name" class="col-form-label">Nombre(s)10:</label>
            <input type="text" class="form-control" id="recipient-name" name="Nombre">
          </div>
          <div class="form-group">
            <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
              <select class="custom-select" id="inputGroupSelect01" name="Unidades">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Detalles:</label>
            <textarea class="form-control" id="message-text" name="Detall"></textarea>
          </div>
          <button type="submit" class="btn btn-danger btn-lg btn-block" style="align">Registrar Compra</button>
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
            {{else}}
            <a href="#" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
        <div class="card" id="medio">
          <img src="IMGProyecto/invitaciones_bodas2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Wedding Two</h5>
            <p class="card-text">¡Inspiración para todos los Eventos de tu Vida!</p>
            {{#if logueado}}
            <button type="button" class="btn btn-outline-danger" id="especific" data-toggle="modal" data-target="#exampleModal11" data-whatever="@mdo">Especificaciones</button>
<!--Modal11-->
<div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Especificaciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/pedinvita" name="Invita1">
          <div class="form-group">
            <input type="hidden" value="Wedding Two" name="Invita1">
            <label for="recipient-name" class="col-form-label">Nombre(s)11:</label>
            <input type="text" class="form-control" id="recipient-name" name="Nombre">
          </div>
          <div class="form-group">
            <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
              <select class="custom-select" id="inputGroupSelect01" name="Unidades">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Detalles:</label>
            <textarea class="form-control" id="message-text" name="Detall"></textarea>
          </div>
          <button type="submit" class="btn btn-danger btn-lg btn-block" style="align">Registrar Compra</button>
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
            {{else}}
            <a href="#" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
        <div class="card">
          <img src="IMGProyecto/invitaciones_bodas3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Wedding Three</h5>
            <p class="card-text">¡Inspiración para todos los Eventos de tu Vida!</p>
            {{#if logueado}}
            <button type="button" class="btn btn-outline-danger" id="especific" data-toggle="modal" data-target="#exampleModal12" data-whatever="@mdo">Especificaciones</button>
<!--Modal12-->
<div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Especificaciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/pedinvita">
          <div class="form-group">
            <input type="hidden" value="Wedding Three" name="Invita1">
            <label for="recipient-name" class="col-form-label">Nombre(s)12:</label>
            <input type="text" class="form-control" id="recipient-name" name="Nombre">
          </div>
          <div class="form-group">
            <label class="input-group-text" for="inputGroupSelect01">Unidades</label>
              <select class="custom-select" id="inputGroupSelect01" name="Unidades">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Detalles:</label>
            <textarea class="form-control" id="message-text" name="Detall"></textarea>
          </div>
          <button type="submit" class="btn btn-danger btn-lg btn-block" style="align">Registrar Compra</button>
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
            {{else}}
            <a href="#" class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" type="button" type="button" id="comprar">Comprar</a>
            {{/if}}
          </div>
        </div>
      </div><br><br>
      <!--Archivos .js-->
      <script src="jquery/jquery.min.js"></script>
      <script src="js/main.js"></script>
</body>
<footer class="page-footer font-small stylish-color-dark pt-4" id="foot">
<div class="container text-center text-md-left">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contacto</h5>
      <p>Calle Leopoldo Guerra Ote. #8818<br> Col. La Joya<br> Torreón, Coah., México.</p>
      <p><i class="fas fa-envelope-open"></i>   tinydesigns07@gmail.com</p>
      <p><i class="fab fa-whatsapp-square"></i>(871)596-1588</p>
      <p><i class="fab fa-facebook-square"></i>   facebook.com/tinydesignsS</p>
    </div>
    <hr class="clearfix w-100 d-md-none">
    <div class="col-md-5 mx-auto">
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Servicios</h5>
      <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Diseño para eventos sociales</h6>
      <ul class="list-unstyled">
        <li>
          <a href="/graduaciones">Graduaciones</a>
        </li>
        <li>
          <a href="/infantiles">Fiestas infantiles</a>
        </li>
        <li>
          <a href="bodas">Bodas</a>
        </li>
        <li>
          <a href="/xv">Fiestas de XV</a>
        </li>
      </ul>
      <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Venta de articulos</h6>
      <ul class="list-unstyled">
        <li>
          <a href="/invitaciones">Invitaciones</a>
        </li>
        <li>
          <a href="/globos">Globos</a>
        </li>
        <li>
          <a href="/termos">Termos</a>
        </li>
        <li>
          <a href="/camisas">Camisas</a>
        </li>
      </ul>
    </div>
    <hr class="clearfix w-100 d-md-none">
    <div class="col-md-2 mx-auto">
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Acerca de nosotros</h5>
      <ul class="list-unstyled">
        <li>
          <a href="/">¿Quiénes somos?</a>
        </li>
        <li>
          Aviso de privacidad
        </li>
      </ul>
    </div>
  </div>
</div>
{{#if logueado}}
<hr>
{{else}}
<hr>
<ul class="list-unstyled list-inline text-center py-2">
  <li class="list-inline-item">
    <a href="/crear-cuenta" class="btn btn-primary btn-rounded ejemplo2">Registrarse</a>
  </li>
  <li class="list-inline-item ">
    <a href="" class="btn btn-danger btn-rounded ejemplo3" data-toggle="modal" data-target="#ModalCenter">Iniciar Sesion</a>
  </li>
</ul>
<hr>
{{/if}}
<ul class="list-unstyled list-inline text-center">
  <li class="list-inline-item">
    <a class="btn-floating btn-fb mx-1" href="#">
      <i class="fab fa-facebook-f fa-3x"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="btn-floating btn-tw mx-1">
      <i class="fab fa-twitter fa-3x"> </i>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="btn-floating btn-li mx-1">
      <i class="fab fa-linkedin-in fa-3x"> </i>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="btn-floating btn-dribbble mx-1">
      <i class="fab fa-instagram-square fa-3x"></i>
    </a>
  </li>
</ul>
<div class="footer-copyright text-center py-3">© 2020 Copyright:
  <a href="#"> by SupporT</a>
</div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>

</body>
</html>
